---
sitemap: false
---

/*
* Common Variables
*
* Feel free to change!
*
*/

/* FONTS */

$main-font: sans-serif;
$heading-font: sans-serif;
$regular-font-size: 20px;

/* 
* COLOR.
* 
* Make sure to leave color-scheme in config file empty for granular control
* 
*/

$text-color: #161616;
$heading-color: #034f84;
$link-color: #034f84;

@import "ed";
@import "syntax";
